.container {
  display: grid;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: white;
}
.container > p {
  margin-bottom: 2rem;
  font-weight: bold;
}
.container > div {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
