.container {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.container > div {
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 3px;

  border-radius: 50%;
}

.container > p {
  margin: 0.5rem;
  font-size: 0.6rem;
  color: grey;
}
